body{
    margin-top: 75px;
    text-align: center;
    background-color: rgb(29, 28, 28);
    h1 {color: whitesmoke;}
    h3 {color: aliceblue;}
    
}
img{
    height: 170px;
    width: 170px;

}